/* BOOTSTRAP CLASS */

/* for the most part of inputs */
.input-group {
  max-width: 16rem;
  display: flex;
  flex-wrap: nowrap;
}

/* for modifiy background-color of navbar */
.navbar {
  background-color: var(--bord--color);
}

/* for modifiy color text of navbar */
.navbar-brand, .nav-item > a {
  font-size: 1.5rem;
}

/* SET OF COLOR VARIABLES */
:root {
  --back--color: #A5F1E9;
  --let--color: rgb(0, 0, 0);
  --bord--color: #7FBCD2;
  --pad--color: #A5FF4B;
  --key-word--color: blue;
}

p, a, #input-emoji, button {
  font-family: 'Times New Roman', Times, serif;
  color: var(--let--color, black); 
  font-size: 1.2rem;
}
body {
  background-color: var(--back--color, #A5F1E9);
  color: var(--let--color, black);
}

button {
  background-color: var(--pad--color);
  border-radius: 1rem;
  padding: 0.3rem;
  color: var(--let--color); 
}

/* Un atributo que creare en la root del html (creo) con en js */
[tema="sun"]{
  --back--color: #A5F1E9;
  --let--color: rgb(0, 0, 0);
  --bord--color: #7FBCD2;
  --pad--color: #A5FF4B;
  --key-word--color: blue;
}

/* Un atributo que creare en la root del html (creo) con en js */
[tema="moon"] {
  --back--color: #4C0033;
  --let--color: white;
  --bord--color: #AF0171;
  --pad--color: #E40DC8;
  --key-word--color: #A5F1E9;
}
/* for navbar */
#switch-mode-display {
  display: flex;
  align-items: center;
  min-width: 6rem;
}
.sun-and-moon {
  font-size: 2rem;
  padding: 0 0.6rem 0 0;
  margin-bottom: 0.2rem;
}

/* for emojis asociated with password */
.password-emoji {
  font-size: 1.2rem;
  /* position: absolute;
  left: calc(50% + 8rem);
  margin-top: -2.75rem; */
}
.password-emoji:hover {
  cursor:pointer;
}

/* FOR LOGIN PAGE */

.grid-father{
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  /* creo las areas de mi grid */
  grid-template-areas: 
  'first'
  'secund'
  'third'
  ;
}


.grid-child:nth-child(1) {
  grid-area: first;
}
.grid-child:nth-child(2) {
  grid-area: secund;
}
.grid-child:nth-child(3) {
  grid-area: third;
}
/* the displays are at the end of this file. */

/* FOR LOGIN PAGE */
.redirect-to-register {
  max-width: 16rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bord--color, #7FBCD2);
}
/* FOR REGISTER PAGE */

#password-state-match {
  margin: 2rem;
  font-size: 1.2rem;
}   
/* FOR INDEX PAGE */
.emoji-welcome-index-page {
  font-size: 6rem;
  margin-right: 2rem;
}

.info-in-index{
  max-width: 90%;
  text-align: justify;
}

.key-word, .key-word > a{
  text-decoration: none;
  font-weight: bold;
  color:  var(--key-word--color);
}
.key-word > a{
  background-color: var(--pad--color);
  border-radius: 1rem;
  padding: 0.2rem;
}


/* FOR FOOD-TABLE PAGE */
#input-emoji {
  max-width: 4rem;
  border-radius: 1rem;
  text-align: center;
}
.imagen {
  font-size: 1.5rem;
  background-color: var(--bord--color);
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 1rem;
  transition-property: background-color, border-color;
  transition-duration: 0.5s;
  box-shadow: none;
  
}
.imagen:hover {
  cursor:pointer;
  background-color: var(--pad--color);
  border-color: var(--key-word--color);
}
.container-imagenes {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: auto;
  justify-content: center;
}

#container-to-item-selected {
  display: flex;
  flex-direction: column;
}
/* Clases aplicadas dentro de search.html */
.two-in-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 2rem;
}
.container-text-and-img-serched {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}
.div-to-img-serched {
  width: 55%;
}
.img-serched {
  width: 100%;
  border-radius: 2rem;
  max-height: 30rem;
}
.div-to-txt-serched {
  width: 42%;
  font-size: 1.5rem;
  text-align: justify;
}
#button-item-selected-like {
  margin: 0 2rem; 
}

/* FOR FAVORITES PAGE */
.container-table {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  background-color: var(--bord--color);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.container-table td {
  color: var(--let--color);
}

/* for long widht screens */
@media (min-width: 65.01rem) {
  p, a {
    font-size: 1.4rem;
  }
  .grid-father {
    grid-template-areas:
    'third third first' 
    'third third secund'
    'third third secund';        
    }
}


/* for desktops */
@media (min-width: 50rem) and (max-width: 65rem) {
  .div-to-txt-serched {
      font-size: 1.1rem;
      width: 48%;
  }
  p, a {
    font-size: 1.2rem;
  }
  .grid-father {
    grid-template-areas:
    'first first secund' 
    'third third third'
    'third third third';        
    }
    .navbar-brand, .nav-item > a {
      font-size: 1.2rem;
    }
    
    .div-to-img-serched {
      width: 48%;
      margin-right: 2%;
    }
    .container-table {
      max-width: 50%;
    }
}



/* para telefonos */
@media (max-width: 50rem) {
  p, a, button {
    font-size: 1rem;
  }
  .div-to-txt-serched {
      font-size: 1.2rem;
      width: 90%;
  }
  .div-to-img-serched {
      width: 100%;
      margin-bottom: 2rem;
  }
  .container-table {
    max-width: 90%;
  }
  .navbar-brand, .nav-item > a {
    font-size: 1rem;
  }
.sun-and-moon {
font-size: 1rem;
}
}
