:root {
  --back--color: #FFEEAF;
  --let--color: rgb(0, 0, 0);
  --bord--color: #A5F1E9;
  --pad--color: #7FBCD2;
}

button {
  padding: 1rem;
}
p, a {
  color: var(--let--color, black); 
}
body {
  background-color: var(--back--color,#FFEEAF);
  color: var(--let--color, black);
}

/* div {
  background-color: var(--pad--color, #FFEEAF);
  border: solid var(--bord--color, #A5F1E9) 1rem;
} */



/* Un atributo que creare en la root del html (creo) con en js */
[tema="sun"]{
  --back--color: #FFEEAF;
  --let--color: rgb(0, 0, 0);
  --bord--color: #A5F1E9;
  --pad--color: #7FBCD2;
}

/* Un atributo que creare en la root del html (creo) con en js */
[tema="moon"] {
  --back--color: #4C0033;
  --let--color: #E80F88;
  --bord--color: #AF0171;
  --pad--color: #790252;
}

#switch-mode-display {
  display: flex;
  align-items: center;
  min-width: 6rem;
}
.sun-and-moon {
  font-size: 2rem;
  padding: 0 0.6rem 0 0;
  margin-bottom: 0.2rem;
}
.password-emoji {
  font-size: 2rem;
  position: absolute;
  left: calc(50% + 8rem);
  margin-top: -2.75rem;
}
.password-emoji:hover {
  cursor:pointer;
}
/* FOR REGISTER PAGE */

#password-state-match {
  margin: 2rem;
  font-size: 1.2rem;
}   

.register-cont {
  margin: 2rem;
  padding: 1 rem;
  border-radius: 0.5rem;
  background-color: var(--pad--color, #7FBCD2);
}

/* FOR FOOD-TABLE PAGE */

.imagen {
  font-size: 1.5rem;
  background-color: rgb(240, 228, 228);
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  box-shadow: none;
  
}
.imagen:hover {
  cursor:pointer;
  background-color: var(--pad--color);
}
.container-imagenes {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: auto;
  justify-content: center;
}

#container-to-item-selected {
  display: flex;
  flex-direction: column;
}
/* Clases aplicadas dentro de search.html */
.item-selected {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.container-img-serched {
  width: 60%;
}
.img-serched {
  width: 100%;
  border-radius: 2rem;
  max-height: 30rem;
}
.txt-serched {
  width: 30%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  text-align: justify;
}
#button-item-selected-like {
  margin: 0 2rem; 
}




@media (min-width: 50rem) and (max-width: 65rem) {
  .txt-serched {
      font-size: 1.1rem;
      width: 45%;
  }
  .container-img-serched {
      width: 50%;
  }
}


/* para telefonos */
@media (max-width: 50rem) {
  .txt-serched {
      font-size: 1rem;
      width: 100%;
  }
  .container-img-serched {
      width: 100%;
  }
}