{% extends "layout.html" %}

{% block main %}
<div class="navbar-for-acount">
    <h1>{{username.username}}</h1>
    <form action="/change_password">
        <button type="submit">Change Password</button>
    </form>
</div>

    {% if user_favorites %}
    
    <h2>This are your favorites</h2>
    <div class="container-imagenes">
        {% for emoji in user_favorites %}
            
            <button class="imagen" translate="no" value="&#{{emoji.hexa}}">&#{{emoji.hexa}}</button>                
        {% endfor %}
    </div>
    {% endif %}

    <div id="container-to-item-selected"></div>

{% endblock %}