{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form method="post" 

    {% if token %}
        action="{{url_for('reset_verified', token=token)}}">
    
    {% else %}
        action="{{url_for('change_password')}}">
        <div class="input-group mb-3 mx-auto w-auto">
            <input class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old Password" 
                type="password" title="Must confirm your password" aria-describedby="old_password-emoji">
            <span translate="no" id="old_password-emoji" class="input-group-text password-emoji">🙈</span>
        </div>

    {% endif %}
        <div class="input-group mb-3 mx-auto w-auto">

            <!-- pattern copied from http://w3.unpocodetodo.info/utiles/regex-ejemplos.php?type=psw -->
            <input class="form-control" id="password" name="password" placeholder="Password" type="password"  
            title="From 8 to 16 characters, at least one upper, one lower, one number and one symbol" aria-describedby="password-emoji">
            
            <span translate="no" id="password-emoji" class="input-group-text password-emoji">🙈</span>
            <!-- pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,16}$" -->

        </div>
        
        <div class="input-group mb-3 mx-auto w-auto">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" 
                type="password" title="Must confirm your password" aria-describedby="confirmation-emoji">
            <span translate="no" id="confirmation-emoji" class="input-group-text password-emoji" id="visibility">🙈</span>
        </div>
        <p id="password-state-match"></p>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
