{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form method="post" 

    {% if token %}
        action="{{url_for('reset_verified', token=token)}}">
    
    {% else %}
        action="{{url_for('change_password')}}">
        <div class="input-group mb-3 mx-auto w-auto">
            <input class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old Password" 
                type="password" title="Must confirm your password" aria-describedby="old_password-emoji">
            <span translate="no" id="old_password-emoji" class="input-group-text password-emoji">🙈</span>
        </div>

    {% endif %}
        <div class="input-group mb-3 mx-auto w-auto">

            <!-- pattern copied from http://w3.unpocodetodo.info/utiles/regex-ejemplos.php?type=psw -->
            <input class="form-control" id="password" name="password" placeholder="Password" type="password"  
            title="From 6 characters, at least one upper, one lower, one number and one of these symbols #?!@$%^&*-"
            aria-describedby="password-emoji" requerid pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$">
            
            <span translate="no" id="password-emoji" class="input-group-text password-emoji">🙈</span>

        </div>
        
        <div class="input-group mb-3 mx-auto w-auto">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" 
                type="password" title="Must confirm your password" aria-describedby="confirmation-emoji" 
                requerid pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$">

            <span translate="no" id="confirmation-emoji" class="input-group-text password-emoji" id="visibility">🙈</span>
        </div>

        <p class="small-text">The password must have a minimum of 6 characters, of which there must be 1 lower case letter,
            1 capital letter, 1 number and 1 of the following symbols #?!@$%^&*-</p>

        <p id="password-state-match"></p>
        <button>Change Password</button>
    </form>
{% endblock %}
