{% extends "layout.html" %}

{% block main %}


<p>You can search an Emoji pasting on this field.</p>
<input id="input-emoji" autocomplete="off" autofocus placeholder="Add Emoji food" type="text">
<input id="search-button" type="button" value="Serach">

<p>You can search an Emoji making click on one of them.</p>
<div class="container-imagenes">

    {% for img in imgs %}
    <button class="imagen" translate="no" value="&#{{img.hexa}}">&#{{img.hexa}}</button>    
    {% endfor %}

</div>

<div id="container-to-item-selected"></div>
        
{% endblock %}

{% block bottom %}

        <script>

            function afterSelected() {
                // Moviendo la pantalla "scrolling" hasta el container
                window.scrollTo(0, document.body.scrollHeight);
                
                // Mostrando el valor del boton que acabo de trar de "/search"
                document.getElementById('button-item-selected-like').addEventListener('click', function(){
                    alert(this.value);
                });
            }

            // searching from input-box
            let searchButton = document.querySelector('#search-button');
            searchButton.addEventListener('click', async function() {
                let response = await fetch('/search?q=' + document.querySelector('#input-emoji').value);
                let shows = await response.text();
                document.getElementById('container-to-item-selected').innerHTML = shows;
    
                afterSelected()
            });

            // searching from emojis buttons
            const emojis = document.getElementsByClassName('imagen');
                for (i = 0; i < emojis.length; i++) {
                    emojis[i].addEventListener('click', async function() {
                        let response = await fetch('/search?q=' + this.innerHTML);
                        let shows = await response.text();
                        document.getElementById('container-to-item-selected').innerHTML = shows;

                        afterSelected()
                    });
                }
         
            
    
        </script>

{% endblock %}