{% extends "layout.html" %}

{% block main %}


<p>Paste an Emoji in "Food"</p>
<input id="input-emoji" autocomplete="off" autofocus placeholder="Food" type="text">
<button id="search-button"  value="🔍 Search">🔍 Search</button>

<p>Or click on one of the buttons below</p>
<div class="container-imagenes">
    
    {% for img in imgs %}
    <button class="imagen" translate="no" value="&#{{img.hexa}}">&#{{img.hexa}}</button>    
    {% endfor %}

</div>

<div id="container-to-item-selected"></div>
        
{% endblock %}