{% extends "layout.html" %}

{% block main %}

<div class="two-in-row">
    <span class="emoji-welcome-index-page">&#129395 </span>
    <h1>This is Emoji Food!</h1>
</div>
<h3>Below you will find some important information:</h3>
<div class="info-in-login-and-index mb-3 mx-auto w-auto">
    <p>At the top you will find the navigation bar, with it you can explore the place.</p>
    
    <p>In <span class="key-word"><a href="/food_table">🔍 Search Food</a></span>you will find a list of buttons with all the food emojis, just press them to see their information.
         Another way to perform a search is by pasting a food emoji in the text box at the top of the page. You can also Mark those Emojis that you like.</p>
    
    <p>In <span class="key-word"><a href="/acount">💎 My Acount</a></span> you will see a list with the emojis to which you have given <span class="key-word">&#128077</span>
        , to see their information you just have to click on them and if for some reason any of them already you don't like it you can delete it from your account by clicking on <span class="key-word">Delete</span>
        . On this page you can also change your access password.</p>
    
    <p><span class="key-word"><a href="/favorites">🏆 Top 5</a></span> is the place where the most popular emojis are found on this page, those that have received the most
        <span class="key-word">&#128077</span>. You can click on them to see their information.</p>    
    
    <p>If at any time you want to return to this page, just click on <span class="key-word">&#128523 Emoji Food</span></p>
</div>
{% endblock %}
