{% extends "layout.html" %}

{% block main %}

<div class="two-in-row">
    <span class="emoji-welcome-index-page">&#129395 </span>
    <h1>This is Emoji Food!</h1>
</div>
<h3>A continuacion encontraras algunas informaciones importantes:</h3>
<div class="info-in-login-and-index mb-3 mx-auto w-auto">
    <p>En la parte de arriba encontraras la barra de navegacion, con ella podras recorrer el lugar.</p>
    <p>En <span class="key-word"><a href="/food_table">🔍 Search Food</a></span> encontaras una lista de botones con todos los emojis de comida, basta con precionarlos para ver su informacion. otra forma de realizar una busqueda es pegando un emoji de comida en la caja de texto que esta en la parte superior de la pagina. Tambien puedes Marcar aquellos Emojis que te gusten.</p>
    <p>En <span class="key-word"><a href="/acount">💎 My Acount</a></span> veras una lista con los emojis a los que hayas dado <span class="key-word">&#128077</span>, para ver su informacion solo debes hacer click en ellos y si por alguna razon alguno de ellos ya no te gusta puedes eliminarlo de tu cuenta haciendo click en <span class="key-word">Delete</span>. En esta pagina tambien podras cambiar tu contraseña de acceso.</p>
    <p><span class="key-word"><a href="/favorites">🏆 Top 5</a></span> es el lugar en el que se encuentran los emojis mas populares en esta pagina, los que han recibido más <span class="key-word">&#128077</span>. Puedes hacer click en ellos para ver su informacion.</p>    
    <p>Si en algun momento quieres volver a esta pagina solo has click en <span class="key-word">&#128523 Emoji Food</span></p>
</div>
{% endblock %}
