{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<h1 class="mb-4">Welcome to Emoji Food!</h1>
<div class="grid-father">
    <div class="grid-child login-forms">
        <form action="/login" method="post">
            
            <div class="input-group mb-3 mx-auto w-auto">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
            </div>
            <div class="input-group mb-3 mx-auto w-auto">
                <input class="form-control" id="password" name="password" placeholder="Password" type="password" aria-describedby="password-emoji">
                <span id="password-emoji" class="input-group-text password-emoji" translate="no">🙈</span>
            </div>
            <button class="mb-4">Log In</button><br>
            <a href="/password_reset">Forgot Password?</a>
        </form>
    </div>
    
    
    <div class="grid-child login-forms">
        <div class="redirect-to-register mb-3 mx-auto w-auto">
            <p class="mb-4">You can register here</p>
            <form action="/register" method="get">
                <button >Register</button>
              
            </form>
        </div>
    </div>
    <div class="grid-child">
       <div class="info-in-login-and-index mb-3 mx-auto w-auto">
            <p>Algunas vez te has preguntado que cosa son esos platos extraños que aparecen en tu telefono en la seccion de comida de emojis?
                seguramente habras notado que aplicaciones como Whatsapp o paginas como Facebook te permiten usar
                pequeñas imagenes para expresar emociones <span>😁</span>, actividades <span>🏃‍♂️</span> e incluso comidas <span>🍔</span>, estas "figuritas" son llamadas Emojis o Emoticones.
                Sin embargo las comidas suelen representar diferentes culturas por lo que es normal no conocer los 
                platos de culturas muy diferentes a la propia.
            </p>
            <p>Esta pagina esta creada para que puedas ver mediante fotos y explicaciones (sacadas de Wikipedia) lo que son cada una de esas
                129 Emojis relacionados con comidas. Aqui podrás dar <span class="key-word">&#128077</span> a aquellos emojis que te gusten mas, y ver cuales son los emojis preferidos de los otros usuarios de esta pagina.
            </p>
            <p>Lo más probable es que conozcas la mayoria de los platos que veras representados con emojis pero con toda certeza habrá otros de los que no
                tendras la mínima idea. Sin mas que decir espero que disfrutes tu paso por aqui y que te sea de mucha utilidad, con lo sabrosas que se 
                ven las fotos solo me queda desearte buen provecho! 😉
            </p>
        </div>
    </div>
    
    
    

<!-- padre -->
</div> 
{% endblock %}
