{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
            <div class="input-group mb-3 mx-auto w-auto">
                
                <!-- pattern copied from https://www.w3.org/TR/2012/WD-html-markup-20120329/input.email.html -->
                <input autocomplete="off"  autofocus class="form-control" id="email" name="email" 
                placeholder="Email" type="text" title="Must register a valid email" 
                requerid pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">      

            </div>

            <div class="input-group mb-3 mx-auto w-auto">
                <input autocomplete="off" class="form-control" id="username" name="username" placeholder="Username"
                 type="text"  title="Must register an username">

            </div>

        <div class="input-group mb-3 mx-auto w-auto">

            <!-- pattern copied from http://w3.unpocodetodo.info/utiles/regex-ejemplos.php?type=psw -->
            <input class="form-control" id="password" name="password" placeholder="Password" type="password"  
             title="Password must have at lest 6 characters, at least one upper, one lower, one number and one of these symbols #?!@$%^&*-" 
             aria-describedby="password-emoji" requerid pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$">
            
            <span translate="no" id="password-emoji" class="input-group-text password-emoji">🙈</span>

        </div>

        <div class="input-group mb-3 mx-auto w-auto">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" 
                type="password" title="Must confirm your password" aria-describedby="confirmation-emoji"
                requerid pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$">

            <span translate="no" id="confirmation-emoji" class="input-group-text password-emoji" id="visibility">🙈</span>

        </div>
        <p class="small-text">The password must have a minimum of 6 characters, of which there must be 1 lower case letter,
            1 capital letter, 1 number and 1 of the following symbols #?!@$%^&*-</p>
        <div>
            <p id="password-state-match"></p>
            
        </div>
        <button>Register and Login</button>
    </form>
{% endblock %}