{% if emoji_data %}
        {% for data in emoji_data %}
                {% if favorites %}

                <h1>Logre diferenciar!</h1>
                {% endif %}
                <h2>{{data.name}} <span>&#{{data.hexa}} <form id="form-like-and-delete" method="get" action="/like_it">
                        <button name="emoji_id" id="button-item-selected-like" class="btn btn-primary" value="{{data['id']}}">I like it &#128077</button>
                        </form></span> <h2>

                <div class="item-selected">
                        <div class="container-img-serched">
                                <img translate="no" class="img-serched" src="{{data.img}}" alt="{{data.name}}">
                        </div>
                        <div class="txt-serched">
                                <p>{{data.description}}</p>
                        </div>
                </div>
        {% endfor %}
{% endif %}
