{% extends "layout.html" %}

{% block main %}

{% if succes %}
<h1 style="color: green;" >{{succes}}</h1>
<h1>Also Check in your Span Box</h1>
{% endif %}
<form action="/password_reset" method="post">
    
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" 
        name="email" placeholder="Email" type="text">
        {% if noemail %}
        <span class="Register-error">{{noemail}}</span>
        {% endif %}

        {% if noregister %}
        <span class="Register-error">{{emailError}}</span><br>
        <span class="Register-error">{{noregister}}</span>
        {% endif %}

    </div>
    
    <button class="btn btn-primary" type="submit">Submit Email</button>
</form>
{% endblock %}